.idea/
Lengbanlist - main/.idea/
Lengbanlist - main/Lengbanlist.iml
Lengbanlist - main/target/
Lengbanlist - main/dependency-reduced-pom.xml

# Maven multi-module build output
Lengbanlist - main/*/target/
Lengbanlist - main/*/dependency-reduced-pom.xml

# flatten-maven-plugin build artifacts
*.flattened-pom.xml
